footer{
  display: flex;
  justify-content: space-between;
  text-align: left;

}

footer  a{
  max-width: 330px;
  font-family: "TT Lakes Medium";
  font-size: 14px;
  color:#7E7E82;
  text-decoration: none;
  padding-right: 35px;
}
footer  a:nth-of-type(3){
  padding-right: 24px;
}

@media (max-width: 600px) {
  footer a{
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
  footer{

    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }


}
footer  a:hover{
  text-decoration: underline;
}
