
.BrendList__item{
  border:1px solid #EAEAEA;
  min-width: 240px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  background-color: #FFFFFF;
  border-radius: 6px;



}
.BrendList__item img{
  margin-left: 16px;
}
.BrendList__container{

  overflow: hidden;
}
.BrendList{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: 160px;
  margin-right: 32px;
  width: 100%;


}

.BrendList__slider--position{
  flex-wrap: nowrap;
  position: relative;
  width: 320px;
  justify-content: space-between;
}

.arrow__button{
  margin-right:14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FF3E79;
  outline: none;
  background-color: #EAEAEA;
  background: url("../img/BrendList__button.png") no-repeat center center;
}
.b-ShowMore{
  margin-top: 24px;
  padding-left: 30px;
  color: #1B1C21;
  font-family: "TT Lakes Medium";
  background: url("/img/readMore.png") no-repeat left center;
}
.b-ShowMore a{
  color:#1B1C21;
  text-decoration: none;
}
.b-ShowMore:hover a{
  text-decoration: underline;
}
.sectionBrends{
  margin-bottom: 50px;
}
.sectionBrends h2{
  font-family: "TT Lakes Regular";
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  margin-bottom: 40px;

  font-weight: normal;
}
@media (max-width: 1450px) {
  .BrendList__item{
    width: 224px;
  }

}
